body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
	background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin: 0px 400px;
}

.salutation {
    margin-bottom: 20px;
}

.message {
    margin-bottom: 20px;
}

.signature {
    margin-top: 20px;
    text-align: left;
}